<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
<style>
            body{
                font-family: arial;
                margin: 0;
            }
            nav{
                background: #ff5353;
                padding: 20px 10px;
            }
            nav ul{
                max-width: 960px;
                margin: 0 auto;
                padding: 0;
            }
            nav li{
                list-style-type: none;
                display: inline-block;
                margin: 0 10px 0 0;
            }
            nav a{
                color: #fff;
                font-size: 18px;
                background: rgba(255,255,255,0.2);
                text-decoration: none;
                padding: 10px;
                display: block;
            }
            main, header{
                max-width: 960px;
                margin: 30px auto;
                padding: 0 10px;
                color: #333;
            }
        </style>
</head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Homepage</a></li>
                <% if(user) { %>
                <li><a href="/auth/logout">Logout</a></li>
                <li><a href="/sales">Sales</a></li>
                <% } else { %>
                <li><a href="/auth/login">Login</a></li>
                <li><a href="/sales">Sales</a></li>
                <% } %>
                <li><a href="/profile">Profile</a></li>
            </ul>
        </nav>
        <header>
            <h1>Aplicacion DEMO</h1>
            <h2>Tecnologias:</h2>
            <h3>1. Node</h3>
            <h3>2. Express</h3>
            <h3>3. MongoDB</h3>
            <h3>4. JWT</h3>
            <h3>5. oAuth</h3>
            <h3>6. Google Staretgy</h3>
        </header>
    </body>
</html>